<li>
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"
        style="view-transition-name: post-date-{{ .File.BaseFileName }};">
        <span class="month">{{ .Date | time.Format ("Jan") }}</span>
        <span class="day">{{ .Date | time.Format ("02") }}</span>
        <span class="year">{{ .Date | time.Format ("2006") }}</span>
    </time>
    <div>
        <h2 class="title" style="view-transition-name: post-title-{{ .File.BaseFileName }};">
            <a href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
        </h2>
        <div class="summary" style="view-transition-name: post-summary-{{ .File.BaseFileName }};">
            {{ .Summary | plainify | htmlUnescape }}
        </div>
    </div>
</li>