/* reset */
:root {
    --fs-100: 1.2rem;
    --fs-200: 1.6rem;
    --fs-400: 1.8rem;
    --fs-600: 2rem;
    --fs-800: 3.2rem;
    --fs-900: 3.8rem;
}

body {
    font-size: var(--fs-400)
}

h1,
h2,
h3,
h4 { 
    margin: 0; 
    text-wrap: balance;  
}

/* view transitions */
@view-transition {
    navigation: auto;
}

/* ::view-transition-group(*) {
    position: fixed;
    inset: 0;
  
    animation-duration: 5s;
    animation-fill-mode: both;
} */

#dark-mode-toggle {
    view-transition-name: dark-mode-toggle;
}

main > nav {
    view-transition-name: nav;
    border-top: 15px solid olivedrab;
    /* ancient ruin is rgb(174,164,154); */
}

main > footer {
    view-transition-name: footer;
}

ul.pagination {
    view-transition-name: pagination;
}


.container.centered {
    flex-direction: column;
}

.centered .list ul {
    margin-top: 6rem;
    margin-bottom: 0;
}

.title {
    /* so the animation is smoother - no aspect-ratio change */
    width: fit-content;
    line-height: normal;
}

a.heading-link {
    display: none;
}

body.colorscheme-dark h1,
body.colorscheme-light h1 {
    color: unset;
}

body.colorscheme-dark h2,
body.colorscheme-light h2 {
    font-weight: lighter;
    font-size: var(--fs-600);
}

body.colorscheme-light .content .list ul li .title:hover, 
body.colorscheme-light .content .list ul li .title:focus {
    color: unset;
}

body.colorscheme-dark .content .list ul li .title:hover, 
body.colorscheme-dark .content .list ul li .title:focus {
    color: unset;
}

.list ul:not(.pagination) li + li {
    margin-top: 3rem;
}

li time {
    opacity: 0.4;
    display: block;
} 

li time .month {
    text-transform: uppercase;
}

.summary  {
    margin-top: 0.5rem;
    font-size: var(--fs-200);
    line-height: 1.6;
    color: unset;
}

@media only screen and (max-width: 768px) {
    .list ul li {
        margin-bottom: 3rem;
    }
}

@media only screen and (min-width: 768px) {
    .list ul:not(.pagination) li {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 3rem;
    }

    .list ul:not(.pagination) li > div {
        display: block; 
    }

    .list ul li time {
        display: flex; 
        text-align: center; 
        flex-direction: column; 
        justify-content: flex-start;
    }

    .list ul li time .day {
        font-size: var(--fs-900);
    }
    
    .list ul li time .month {
        font-size: var(--fs-400); 
        letter-spacing: 0.1rem;
    }
    
    .list ul li time .year {
        font-size: var(--fs-100);
        letter-spacing: 0.3rem;
    }
}

.feed-icon {
    font-size: var(--fs-800);
}

.content header {
    margin: 0;
}

.content header h1 {
    line-height: normal;
    font-size: var(--fs-800);
}

.content article p {
    hyphens: unset;
}

.content .post .post-meta {
    margin-bottom: 0.5rem;
    font-size: var(--fs-200);
}

.content .post .post-meta .reading-time {
    margin-right: 1.5rem;
}