nav {
    border-top: 15px solid olivedrab;
    /* ancient ruin is rgb(174,164,154); */
}

body.colorscheme-light a, 
body.colorscheme-light .footer a,
body.colorscheme-light a:hover,
body.colorscheme-light a:focus,
body.colorscheme-light .navigation a:hover, 
body.colorscheme-light .navigation a:focus,
body.colorscheme-light .content .centered .about ul li a:hover, 
body.colorscheme-light .content .centered .about ul li a:focus {
    color: sienna;
}

body.colorscheme-dark a, 
body.colorscheme-dark .footer a,
body.colorscheme-dark a:hover,
body.colorscheme-dark .navigation a:hover, 
body.colorscheme-dark .navigation a:focus,
body.colorscheme-dark .content .centered .about ul li a:hover, 
body.colorscheme-dark .content .centered .about ul li a:focus {
    color: rosybrown ; 
}

div.highlight code {
    background-color: unset;
    color: unset;
}

a.heading-link {
    display: none;
}

body.colorscheme-dark h2,
body.colorscheme-light h2 {
    font-weight: lighter;
    font-size: 2rem ;
    color: olivedrab;
}

body.colorscheme-light .content .list ul li .title:hover, 
body.colorscheme-light .content .list ul li .title:focus {
    color: unset;
}

body.colorscheme-dark .content .list ul li .title:hover, 
body.colorscheme-dark .content .list ul li .title:focus {
    color: unset;
}

.list li {
    margin-bottom: 3rem;
}

li .date {
    opacity: 0.4;
} 

li .date .month {
    text-transform: uppercase;
}

@media only screen and (min-width: 769px) {
    .list ul li .date {
        flex-grow: 0;
        text-align: center; 
        display: flex; 
        flex-direction: column; 
        justify-content: flex-start;
        align-items: stretch;
    }

    .date .day {
        font-size: 3.8rem;
    }
    
    .date .month {
        font-size: 1.8rem; 
        letter-spacing: 0.1rem;
    }
    
    .date .year {
        font-size: 1.2rem; 
        letter-spacing: 0.3rem;
    }
}

.title .summary  {
    font-size: 1.5rem; 
    font-weight: normal; 
    line-height: 2.2rem; 
    color: unset;
}

.content article p {
    hyphens: unset;
}

.content .post .post-meta {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.content .post .post-meta .date .reading-time {
    margin-right: 1.5rem;
}